{% extends 'shop/basic.html' %}
{% block title%} Blog - App {% endblock %}

{% block css %}
<style>
    .blog-container {
        margin-top: 85px;
    }
</style>
{% endblock %}


{% block body %}
<div class="container blog-container">
    <div class="row mb-2">
        {% for blog in myblogs %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">{{blog.title}}</strong>
                    <h4 class="mb-0">{{blog.head0}}</h4>
                    <div class="mb-1 text-body-secondary">{{blog.pub_date}}</div>
                    <p class="card-text mb-auto">{{blog.chead0|slice:'0:70'}}...</p>
                    <a href="/blogpost/{{blog.post_id}}" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{ blog.thumbnail }}" class="bd-placeholder-img" width="300" height="250" alt="Thumbnail" />

                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
    <div class="row mb-2">
    {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}


{% block js %}
<script>

</script>
{% endblock %}