{% extends 'shop/basic.html' %}

{%block title%}About Quick Cart {%endblock%}

{% block body%}
{% load static %}
<div class="my-5">
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
          <title>Bootstrap</title>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
            fill="currentColor"></path>
        </svg>
        <span class="fs-4">QuickCart E-Commerce Application</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5 d-flex">
        <div class="col-lg-8">
          <h1 class="display-5 fw-bold">About QuickCart</h1>
          <p class="fs-4">Welcome to QuickCart, your ultimate destination for fast, reliable, and convenient
            online shopping! At QuickCart, we’re dedicated to providing you with a seamless shopping experience,
            featuring a wide variety of products across multiple categories — all in one place. Whether you're browsing
            for the latest electronics, trendy apparel, or essential home goods, QuickCart offers quality products at
            competitive prices.</p>
          <a href="/shop">
            <button class="btn btn-info btn-lg text-white" type="button">Shop Now</button>
          </a>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'shop/about.jpg' %}" alt="About Quick Cart" class="w-100">
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Our Mission</h2>
          <p>At QuickCart, our mission is simple: to make shopping effortless, enjoyable, and accessible to everyone.
            We’re passionate about offering the latest products and trends, paired with unmatched customer service, to
            ensure your shopping experience is nothing short of exceptional.</p>
          <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Why Choose QuickCart?</h2>
          <ul>
            <li><strong>Wide Selection:</strong>From everyday essentials to luxury items, we curate products to cater to
              diverse tastes and needs.</li>
            <li><strong>Fast & Reliable Delivery:</strong>With our express shipping options, we ensure your items reach
              you quickly and safely.</li>
            <li><strong>Secure Payments:</strong>We prioritize your privacy and security. Our encrypted payment gateways
              allow you to shop with peace of mind.</li>
            <li><strong>Customer-Centric Approach:</strong>We pride ourselves on our dedicated customer service,
              available 24/7 to assist you at every step.</li>
            <li><strong>Exclusive Discounts:</strong>Enjoy exciting flash sales, seasonal discounts, and exclusive
              member deals that make shopping with us even more rewarding.</li>
          </ul>
          <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; 2024
    </footer>
  </div>
</div>

{%endblock%}RS