{% extends 'shop/basic.html' %}

{% block title %}Cart{% endblock %}

{% block css %}
<style>
    .cart-image {
        width: 140px;
        /* height: 100px; */
        border-radius: 5px;
    }

    .cart-ul {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-item {
        border: 2px solid;
        padding: 12px;
        border-radius: 7px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .cartqty {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .cartqty button {
        width: 40px;
        border-radius: 5px;
        font-weight: 600;
    }

    .cartqty p {
        font-size: 20px;
        font-weight: 600;
    }

    #cartItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
</style>
{% endblock %}


{% block body %}
<h2>Your Cart</h2>
<div id="cartItems">
    <ul id="cartItemsContainer" class="cart-ul"></ul>
    <p id="emptyMessage" style="display:none;">No items in your cart.</p>
    <h3>Total Price : <span id="totalPrice"></span></h3>

    <div class="d-flex gap-5">
        <button id="clearcart" onclick="clearCart()" class="btn btn-danger">Clear Cart</button>
        <a href="/shop/checkout/"><button class="btn btn-secondary">Check out</button></a>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function getCartFromLocalStorage() {
        let cart = JSON.parse(localStorage.getItem('cart')) || {};
        return cart;
    }

    // Render the cart items dynamically
    function renderCartItems() {
        const cart = getCartFromLocalStorage();
        // const allProducts = getAllProducts();
        const cartItemsContainer = document.getElementById('cartItemsContainer');
        cartItemsContainer.innerHTML = '';
        let cartHasItems = false;

        let sum = 0
        let total = 0
        for (let item in cart) {
            id = item
            qty = cart[item][0]
            name = cart[item][1]
            price = cart[item][2]
            dprice = cart[item][3]
            imageUrl = cart[item][4]
            sum += qty
            total += dprice

            const cartItemHTML = `
                    <li class="cart-item" data-product-id="${id}">
                        <img src="${imageUrl}" alt="${name}" class="cart-image"/>
                        <div>    
                            <h3>${name}</h3>
                            <p >Price: <span style="text-decoration:line-through">&#8377;${price}</span> &#8377;${dprice}</p>
                            <p>Quantity: ${qty}</p>
                        </div>
                        <span class="cartqty">
                            <button class="cartItemIncr btn btn-light">-</button>
                            <p class="m-0" id="cartItemVal">${qty}</p>
                            <button class="cartItemDecr btn btn-light">+</button>
                        </span>
                        <span>
                            <button class="cartItemDelete btn btn-danger">Delete</button>
                        </span>
                    </li>
                    `;
            cartItemsContainer.innerHTML += cartItemHTML;
        }

        document.getElementById('cart').innerHTML = sum
        document.getElementById('totalPrice').innerHTML = total
        document.getElementById('emptyMessage').style.display = sum ? 'none' : 'block';
    }

    document.addEventListener('DOMContentLoaded', function () {
        renderCartItems();
    });

    // Add event listeners at the container level to handle dynamically added buttons
    document.getElementById('cartItemsContainer').addEventListener('click', function (e) {
        if (e.target.classList.contains('cartItemIncr')) {
            const productId = e.target.closest('.cart-item').getAttribute('data-product-id');
            updateCartItemQuantity(productId, -1);
        } else if (e.target.classList.contains('cartItemDecr')) {
            const productId = e.target.closest('.cart-item').getAttribute('data-product-id');
            updateCartItemQuantity(productId, 1);
        } else if (e.target.classList.contains('cartItemDelete')) { // Handle delete button
            const productId = e.target.closest('.cart-item').getAttribute('data-product-id');
            deleteCartItem(productId);  // Function to delete the item
        }

    });

    // Update cart item quantity and refresh the view
    function updateCartItemQuantity(productId, change) {
        console.log(productId)
        console.log(change)
        const cart = getCartFromLocalStorage();
        if (cart[productId][0]) {
            cart[productId][0] += change;
            if (cart[productId][0] <= 0) {
                delete cart[productId]; // Remove item from cart if quantity goes to 0
            }
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        renderCartItems(); // Re-render the cart items
    }

    //Delete Item 
    function deleteCartItem(productId) {
        const cart = getCartFromLocalStorage();
        if (cart[productId]) {
            delete cart[productId]; // Remove the item from the cart
        }
        localStorage.setItem('cart', JSON.stringify(cart)); // Update localStorage
        renderCartItems(); // Re-render cart items
    }

    //Clear Cart
    function clearCart() {
        localStorage.clear()
        cart = {}
        renderCartItems()
    }
</script>
{% endblock %}