{% extends 'shop/basic.html'%}

{% block title %} Checkout - My Awesome Cart {% endblock %}

{% block body %}
<div class="my-5">
    <div class="container d-flex align-items-center flex-column" id="checkoutSection">
        <div class="col-md-10 m-4">
            <h2 class="mb-4">Step 1 : Review your Cart Items</h2>
            <div class="col-md-5 col-lg-4 order-md-last">
                <ol class="list-group list-group-numbered mb-3" id="checkoutItems"></ol>
                <!-- <p id="emptyCheckoutMessage" style="display:none;" class="text-danger font-bold">No items in your cart.</p> -->
                <ul id="totalBillSection">
                    <li class="list-group-item d-flex justify-content-between">
                        <span><strong>Total Bill:</strong></span>
                        <strong>&#8377;<strong id="totalBill">0</strong></strong>
                    </li>
                </ul>
                <!-- <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form> -->
            </div>
        </div>

        <div class="col-md-10 m-4">
            <h2>Step 2 : Enter your Details</h2>
            <form class="row g-3" action="/shop/checkout/" method="post">{% csrf_token %}
                <input type="hidden" name="itemsJson" id="itemsJson">
                <input type="hidden" name="amount" id="amount">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="col-12">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <div class="col-12">
                    <label for="address1" class="form-label">Address line 1</label>
                    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="address2" class="form-label">Address line2</label>
                    <input type="text" class="form-control" id="address2" name="address2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>
                <div class="col-md-2">
                    <label for="zipcode" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </div>
            </form>
        </div>
    </div>


    <div class="container d-none p-5" id="noItems">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3 >No items in cart</h3>
            <a href="/shop" class="btn btn-secondary text-white">Add Items</a>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}

<script>

    let cart;
    if (localStorage.getItem('cart') == null) {
        cart = {}
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'))
    }
    console.log(cart)

    let sum = 0
    let total = 0
    let qty, name
    for (let item in cart) {
        qty = cart[item][0]
        name = cart[item][1]
        price = cart[item][3]
        total += price * qty
        sum += qty
        const cartItemHTML = `
                     <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                        <h6 class="my-0">${name}</h6>
                    
                        </div>
                        <span class="text-body-secondary">${price}</span>
                        <span>
                        <span class="badge bg-primary rounded-pill">${qty}</span>
                        </span>
                    </li>`
        checkoutItems.innerHTML += cartItemHTML;
    }

    document.getElementById('cart').innerHTML = sum
    document.getElementById('totalBill').innerHTML = total
    $('#itemsJson').val(JSON.stringify(cart));

    {% if thank %}
    alert('Thanks for ordering with us. Your order ID is {{id}}. Use it to track your order using our order tracker.');
    localStorage.clear();
    document.location = "/shop";
    {% endif %}

    $('#amount').val($('#totalBill').html())

    document.getElementById('checkoutSection').classList.toggle('d-none', sum === 0)
    document.getElementById('noItems').classList.toggle('d-none', sum !== 0)
    // // toggleCheckout = document.getElementById('checkoutSection')
    // // toggleNoitems = document.getElementById('noItems')

    // // sum ? toggleCheckout.clasList.toggle('d-none') : toggleNoitems.clasList.toggle('d-none')

    // if (sum === 0) {
    //     document.getElementById('emptyCheckoutMessage').style.display = 'block';
    // } else {
    //     document.getElementById('emptyCheckoutMessage').style.display = 'none';
    // }

</script>
{% endblock %}