{% extends 'shop/basic.html'%}


{%block title%}Quick Cart{% endblock %}

{%block css%}
<style>
  .col-md-3 img {
    width: 100%;
    height: 190px;
  }

  .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 21%;
  }

  body .carousel-indicators li {
    background-color: blue;
    list-style: none;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  body .carousel-control-next {
    justify-content: flex-end;
  }

  body .carousel-control-prev {
    justify-content: flex-start;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    justify-content: center;
  }

  #cart{
    background-color: #ffffff;
    color: #565553;
    padding: 2px 9px;
    border-radius: 5px;
  }
  h3{
    margin: 20px 0;
  }
</style>
{% endblock %}


{%load static %}


{% block body%}
<div class="container my-5">
  <!-- Carousel Section -->
  {% for product, range, nSlides in allProds %}
  <h3>Flash Sale on {{product.0.category}} - Recommended Items 4U</h3>
  <div id="demo{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <!-- Carousel Inner -->
    <div class="carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="row">

          {% for prod in product%}
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="/media/{{prod.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{prod.product_name}}</h5>
                <p class="card-text">{{prod.desc}}</p>
                <button id="pr{{prod.id}}" class="btn btn-primary cart">Add to Cart</button>
              </div>
            </div>
          </div>

          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          {%endif%}

          {% endfor %}
        </div>
      </div>


    </div>

    <!-- Left and Right controls -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block js %} 
<script>
  console.log('Working')

  if(localStorage.getItem('cart') == null){
    var cart = {}
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'))
    document.getElementById('cart').innerHTML = Object.keys(cart).length
  }

  $('.cart').click(function(){
    console.log('Clicked')
    var idStr = this.id.toString()
    console.log(idStr)

    if(cart[idStr] != undefined){
      cart[idStr] = cart[idStr] + 1
    }
    else{
      cart[idStr] = 1
    }

    localStorage.setItem('cart', JSON.stringify(cart))
    document.getElementById('cart').innerHTML = Object.keys(cart).length
    console.log(cart)
  });

  // document.querySelector('.cart').addEventListener('click', ()=>{
  //   console.log('clicked')
  // } )

</script>

{% endblock %}