{% extends 'shop/basic.html'%}


{%block title%}Quick Cart{% endblock %}

{%block css%}
<style>
  .col-md-3 img {
    width: 100%;
    height: 190px;
  }

  .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 21%;
  }

  .carousel-indicators {
    margin-bottom: -25px;
  }

  .carousel-indicators [data-bs-target] {
    background-color: rgb(165, 165, 170);
    list-style: none;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  body .carousel-control-next {
    justify-content: flex-end;
  }

  body .carousel-control-prev {
    justify-content: flex-start;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    justify-content: center;
  }

  h3 {
    margin: 20px 0;
  }

  .pop-cart-list {
    font-size: 16px;
    font-weight: 500;
    list-style: auto;
  }

  .divpr {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .divpr p {
    margin: 0;
    font-weight: 600;
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }


  .card-img-div {

    overflow: hidden;
  }

  .card-img {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img:hover {
    transform: scale(1.05);
    width: 100%;

  }

  .card-heading {
    font-weight: 600;
    font-size: 18px;
  }

  .banner-img {
    width: 100%;
    height: 420px;
  }

  @media screen and (max-width: 560px) {
    .banner-img {
      width: 100%;
      height: 250px;
    }
  }
</style>
{% endblock %}


{%load static %}


{% block body%}
<!-- banner image -->
<div class="row">
  <img src="{% static '/shop/b.png'%}" alt="banner" class="img-fluid banner-img">
</div>

<div class="my-3">
  <!-- Carousel Section -->
  {% for popular, range, nSlides in popularProds %}
  <h3>Flash Sale on {{popular.0.category}} - Recommended Items 4U</h3>
  <div id="demo{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <!-- Carousel Inner -->
    <div class="carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="row">

          {% for prod in popular%}
          <div class="col-md-3">
            <a href="/shop/products/{{prod.product_id}}" class="card-link text-dark" style="text-decoration: none;">
              <div class="card card-img" style="width: 18rem;">
                <span>
                  <img src="/media/{{prod.image}}" class="card-img-top" alt="{{prod.product_name}}">
                </span>
                <div class="card-body">
                  <h2 class="card-title card-heading">{{prod.product_name}}</h2>
                  <p class="card-text">{{prod.desc|slice:'0:50'}}...</p>
                </div>
              </div>
            </a>
          </div>

          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          {%endif%}

          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Left and Right controls -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>


<!-- All Cards -->
<div class="container">
  <div class="row">
    <h1>All Products</h1>
    {% for prod in allProducts %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 card-container shadow">
        <a href="/shop/products/{{prod.product_id}}" class="card-link text-dark" style="text-decoration: none;">
          <div class="card-img-div">
            <img id="imagepr{{prod.product_id}}" src="/media/{{prod.image}}" class="card-img-top card-img"
              alt="{{prod.product_name}}">
          </div>
        </a>
        <div class="card-body">
          <h2 class="card-title card-heading" id="namepr{{prod.product_id}}">{{prod.product_name}}</h2>
          <p class="card-text">{{prod.desc|slice:'0:50'}}...</p>
          <p class="m-0 text-decoration-line-through">M R P : <span
              id="pricepr{{prod.product_id}}">{{prod.price}}</span></p>
          <div class="d-flex justify-content-between flex-wrap">
            <div>
              <h5 class="m-0">&#8377;<span id="dpricepr{{prod.product_id}}">{{prod.discount_price}}</span></h5>
              <!-- <h5>&#8377;{{prod.discount_price}}</h5> -->
            </div>
            <span id="divpr{{prod.product_id}}" class="divpr">
              <button id="pr{{prod.product_id}}" class="btn btn-primary cart">Add to Cart</button>
            </span>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}



{% block js %}
<script>
  //Get Cart from localStorage
  let cart;
  if (localStorage.getItem('cart') == null) {
    cart = {}
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'))
    updateCart(cart)
    // console.log(cart)
  }

  //Update the cart on every click
  function updateCart(cart) {
    let sum = 0;
    for (var item in cart) {
      sum += cart[item][0]
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-light minus'>-</button> <p id='val" + item + "'>" + cart[item][0] + "</p><button id='plus" + item + "' class='btn btn-light plus'>+</button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart))
    document.getElementById('cart').innerHTML = sum
    // console.log(cart)
  }


  document.querySelector('.container').addEventListener('click', function (event) {
    // Add to Cart button clicked
    if (event.target && event.target.classList.contains('cart')) {
      console.log('Add to Cart Clicked');
      let idStr = event.target.id.toString();
      console.log('Product ID:', idStr);

      let qty, name, price, d_price;
      if (cart[idStr] !== undefined) {
        qty = cart[idStr][0] + 1;
      } else {
        qty = 1;
        name = document.getElementById('name' + idStr).innerHTML;
        price = document.getElementById('price' + idStr).innerHTML;
        d_price = document.getElementById('dprice' + idStr).innerHTML;
        imageUrl = document.getElementById('image' + idStr).src;
        cart[idStr] = [qty, name, parseInt(price), parseInt(d_price), imageUrl];
      }
      updateCart(cart);
    }

    // Minus button clicked
    if (event.target && event.target.classList.contains('minus')) {
      // console.log('Minus Clicked');
      let a = event.target.id.slice(5,);
      cart[a][0] = cart[a][0] - 1;
      cart[a][0] = Math.max(0, cart[a][0]);
      document.getElementById('val' + a).innerHTML = cart[a][0];
      if (cart[a][0] === 0) {
        delete cart[a];
        prid = a.slice(2,)
        document.getElementById('div' + a).innerHTML = `<button id="pr${prid}" class="btn btn-primary cart">Add to Cart</button>`;
      }
      updateCart(cart);
    }

    // Plus button clicked
    if (event.target && event.target.classList.contains('plus')) {
      // console.log('Plus Clicked');
      let a = event.target.id.slice(4);
      cart[a][0] = cart[a][0] + 1;
      document.getElementById('val' + a).innerHTML = cart[a][0];
      updateCart(cart);
    }
  });

</script>
{% endblock %}