{% extends 'shop/basic.html'%}


{%block title%}Quick Cart{% endblock %}

{%block css%}
<style>
  .col-md-3 img {
    width: 100%;
    height: 190px;
  }

  .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    width: 21%;
  }

  body .carousel-indicators li {
    background-color: blue;
    list-style: none;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  body .carousel-control-next {
    justify-content: flex-end;
  }

  body .carousel-control-prev {
    justify-content: flex-start;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    justify-content: center;
  }

  h3 {
    margin: 20px 0;
  }

  .pop-cart-list{
    font-size: 16px;
    font-weight: 500;
    list-style: auto;
  }
</style>
{% endblock %}


{%load static %}


{% block body%}
<div class="container my-5">
  <!-- Carousel Section -->
  {% for product, range, nSlides in allProds %}
  <h3>Flash Sale on {{product.0.category}} - Recommended Items 4U</h3>
  <div id="demo{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <!-- Carousel Inner -->
    <div class="carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="row">

          {% for prod in product%}
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="/media/{{prod.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="namepr{{prod.product_id}}">{{prod.product_name}}</h5>
                <p class="card-text">{{prod.desc|slice:'0:60'}}...</p>
                <span id="divpr{{prod.product_id}}" class="divpr">
                  <button id="pr{{prod.product_id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
                <a href="/shop/products/{{prod.product_id}}" id="pv{{prod.product_id}}"><button
                    class="btn btn-primary cart">Preview</button></a>
              </div>
            </div>
          </div>

          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          {%endif%}

          {% endfor %}
        </div>
      </div>


    </div>

    <!-- Left and Right controls -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}



{% block js %}
<script>
  //Get Cart from localStorage
  let cart;
  if (localStorage.getItem('cart') == null) {
    cart = {}
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'))
    updateCart(cart)
  }

  //Cart update
  // $('.cart').click(function () {
  $('.divpr').on('click', 'button.cart', function () {
    console.log('Clicked')
    var idStr = this.id.toString()
    console.log(idStr)
    if (cart[idStr] != undefined) {
      cart[idStr] = cart[idStr] + 1
    }
    else {
      cart[idStr] = 1
    }
    updateCart(cart)
  });

  //Popover initialize
  $(document).ready(function () {
      // Initialize the popover
      var popover = new bootstrap.Popover(document.getElementById('popcart'), {
        trigger: 'manual', // Show popover manually
        html: true, // Allow HTML content
        placement: 'bottom'
      });

      // Show the popover when the button is clicked
      $('#popcart').click(function () {
        $('#popcart').popover('toggle'); // Toggle popover on click
      });
    });


  //update popover
  updatePopover(cart);
  function updatePopover(cart) {
    let popStr = '<h5 class="m-0">Cart Items:</h5> <ul>';
      console.log(cart, "gfg")
    for (let item in cart) {
      let productName = document.getElementById('name' + item).innerText;
      popStr += `<li class="pop-cart-list">${productName}: ${cart[item]}</li>`;
    }
    popStr += `</ul>
        <a href="/shop/checkout">
            <button class="btn btn-primary" id="checkout">Check out</button>
        </a>
        <button class="btn btn-danger" id="clearCart" onclick="clearCart()">Clear Cart</button>`;
    document.getElementById('popcart').setAttribute('data-bs-content', popStr);
    function updatePopover(cart) {
    let popStr = '<h5 class="m-0">Cart Items:</h5> <ul>';
    console.log(cart, "gfg"); // Debugging output
    
    for (let item in cart) {
        // Ensure that the ID matches your product naming convention
        let productName = document.getElementById('namepr' + item).innerText; 
        popStr += `<li class="pop-cart-list">${productName}: ${cart[item]}</li>`;
    }

    popStr += `
        </ul>
        <a href="/shop/checkout">
            <button class="btn btn-primary" id="checkout">Check out</button>
        </a>
        <button class="btn btn-danger" id="clearCart" onclick="clearCart()">Clear Cart</button>`;

    // Set the content for the popover
    document.getElementById('popcart').setAttribute('data-bs-content', popStr);

    // Re-initialize the popover to ensure it updates with new content
    var popover = new bootstrap.Popover(document.getElementById('popcart'), {
        trigger: 'manual', // Show popover manually
        html: true, // Allow HTML content
        placement: 'bottom'
    });

    // Show the popover when the button is clicked
    $('#popcart').popover('show'); // Automatically show popover after updating content
}

// Function to clear the cart
function clearCart() {
    cart = {}; // Reset cart object
    localStorage.removeItem('cart'); // Clear local storage
    document.getElementById('cart').innerHTML = '0'; // Reset cart count display
    updateCart(cart); // Update cart UI
    updatePopover(cart); // Update popover content
}

  }
  

 function clearCart(){
  cart = JSON.parse(localStorage.getItem('cart'))
  for(let item in cart){
    document.getElementById('div' + item).innerHTML = `<button id="${item}" class="btn btn-primary cart">Add to Cart</button>`
  }
  localStorage.clear()
  cart = {}
  updateCart(cart)
  updatePopover
 }

  //Update the cart on every click
  function updateCart(cart) {
    let sum = 0;
    for (var item in cart) {
      sum += cart[item]
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "'>" + cart[item] + "</span><button id='plus" + item + "' class='btn btn-primary plus'>+</button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart))
    document.getElementById('cart').innerHTML = sum
    updatePopover(cart)
  }

  //Functionality for increment and decrement
  $('.divpr').on('click', 'button.minus', function () {
    console.log('Minus Clicked')
    a = this.id.slice(5,)
    cart[a] = cart[a] - 1
    cart[a] = Math.max(0, cart[a])
    document.getElementById('val' + a).innerHTML = cart[a]
    updateCart(cart)
  });

  $('.divpr').on('click', 'button.plus', function () {
    console.log('Plus Clicked')
    a = this.id.slice(4,)
    cart[a] = cart[a] + 1
    document.getElementById('val' + a).innerHTML = cart[a]
    updateCart(cart)
  });


  
</script>
{% endblock %}