{% extends 'shop/basic.html'%}

{% block title %} Product View {% endblock %}

{% block css %}
<style>
  .top {
    margin-top: 7rem
  }
</style>
{% endblock %}

{% block body %}

<div class="container top">
  <div class="row">
    <div class="col-md-6">
      <img id="imagepvpr{{product.product_id}}" src="/media/{{product.image}}" alt="{{product.product_name}}" class="rounded">
    </div>
    <div class="col-md-6 d-flex flex-column gap-3">
      <h3 id="namepvpr{{product.product_id}}">{{product.product_name}}</h3>
      <p>{{product.desc}}</p>
      <strong class="text-decoration-line-through">MRP : <span
          id="pricepvpr{{product.product_id}}">{{product.price}}</span>/-</strong>
      <h3>&#8377; <span id="dpricepvpr{{product.product_id}}">{{product.discount_price}}</span></h3>
      <div class="d-flex gap-5">
        <span id="spanpr{{product.product_id}}" class="spanpr d-flex align-items-center fw-bold gap-1">
          <button id="pr{{product.product_id}}" class="btn btn-primary cart">Add to Cart</button>
        </span>
        <a href="/shop/cart/"><button class="btn btn-success">Buy Now</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
<script>
  console.log('Working')

  if (localStorage.getItem('cart') == null) {
    var cart = {}
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'))
    updateCart(cart)
    console.log(cart)
  }

  function updateCart(cart) {
    let sum = 0;
    for (var item in cart) {
      sum += cart[item][0];
      const spanElement = document.getElementById('span' + item);
      if (spanElement) {
        spanElement.innerHTML = "<button id='pvminus" + item + "' class='btn btn-light pvminus'>-</button> <p class='m-0' id='pvval" + item + "'>" + cart[item][0] + "</p><button id='pvplus" + item + "' class='btn btn-light pvplus'>+</button>";
      }
    }
    console.log(cart)
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
  }

  document.querySelector('.container').addEventListener('click', function (event) {
    // Add to Cart button clicked
    if (event.target && event.target.classList.contains('cart')) {
      console.log('Add to Cart Clicked');
      let idStr = event.target.id.toString();
      console.log('Product ID:', idStr);

      let qty, name, price, d_price;
      if (cart[idStr] !== undefined) {
        qty = cart[idStr][0] + 1;
      } else {
        qty = 1;
        name = document.getElementById('namepv' + idStr).innerHTML;
        price = document.getElementById('pricepv' + idStr).innerHTML;
        d_price = document.getElementById('dpricepv' + idStr).innerHTML;
        imageUrl = document.getElementById('imagepv' + idStr).src;
        cart[idStr] = [qty, name, parseInt(price), parseInt(d_price), imageUrl];
      }
      updateCart(cart);
    }

    // Minus button clicked
    if (event.target && event.target.classList.contains('pvminus')) {
      console.log('Minus Clicked');
      let a = event.target.id.slice(7,);
      console.log(a)
      cart[a][0] = cart[a][0] - 1;
      cart[a][0] = Math.max(0, cart[a][0]);
      document.getElementById('pvval' + a).innerHTML = cart[a][0];
      if (cart[a][0] === 0) {
        delete cart[a];
        prid = a.slice(2,)
        console.log(a)
        document.getElementById('span' + a).innerHTML = `<button id="pr${prid}" class="btn btn-primary cart">Add to Cart</button>`;
      }
      updateCart(cart);
    }

    // Plus button clicked
    if (event.target && event.target.classList.contains('pvplus')) {
      console.log('Plus Clicked');
      let a = event.target.id.slice(6,);
      console.log(a)
      cart[a][0] = cart[a][0] + 1;
      document.getElementById('pvval' + a).innerHTML = cart[a][0];
      updateCart(cart);
    }
  });

</script>
{% endblock %}